/*---- External CSS----*/

#red{
    background-color: red;   
}
.blue{
    background-color: lightblue;   
}
#pink{
    background-color: pink;   
}
.yellow{
    background-color: yellow;   
}
#green{
    background-color: green;   
}
.orange{
    background-color: orange;   
}